---
page_title:
---

<div class="intro">
  <%= svg_tag 'middleman-logo.svg', class: 'logo', alt: 'Cute Turtle' %>
  <h1><%= data.site.name %></h1>
  <p class="tagline" id="test"><%= data.site.baseline %></p>
  <p class="actions">
    <%= link_to "See documentation", "https://middlemanapp.com/", class: "button", target: "_blank" %>
  </p>
</div>
